<app-header [userImg]="userProfileImg" />

<app-banner [bannerTitle]="(bannerDetail$ | async)?.original_title" [bannerOverview]="(bannerDetail$ | async)?.overview" [key]="(bannerVideo$ | async)"/>
<app-movie-carousal
  [videoContents]="movies"
  [title]="'Popular Movies'"
/>

<app-movie-carousal
  [videoContents]="tvShows"
  [title]="'Trending TV shows'"
/>
<app-movie-carousal
  [videoContents]="nowPlayingMovies"
  [title]="'Now Playing Movies'"
/>
<app-movie-carousal
  [videoContents]="popularMovies"
  [title]="'Popular Movies'"
/>
<app-movie-carousal
  [videoContents]="upcomingMovies"
  [title]="'Top Rated Movies'"
/>

